<po-switch
  name="switch"
  p-label-off="Tabela"
  p-label-on="Widget"
  (p-change)="changeView()">
</po-switch>

<div *ngIf="listOrGrid; then table else list"></div>

<ng-template #table>
  <po-table
    p-sort="true"
    [p-columns]="columnsDetails"
    [p-items]="listTasks">
  </po-table>
</ng-template>

<ng-template #list>
	<div class="po-row">
    <div class="po-lg-4">
    <div *ngFor="let item of listTasksStep1">
				<app-task [task]="item"></app-task>
			</div>
		</div>
		<div class="po-lg-4">
    <div *ngFor="let item of listTasksStep2">
				<app-task [task]="item"></app-task>
			</div>
		</div>
    <div class="po-lg-4">
    <div *ngFor="let item of listTasksStep3">
				<app-task [task]="item"></app-task>
			</div>
		</div>
	</div>
</ng-template>
