.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  background-image: url("../../assets/404.PNG");
  height: 100vh;
}

.content-box {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  width: 200px;
}
