  <!-- p-background="https://i.pinimg.com/236x/ee/c6/ce/eec6cea4a6c72ebb34094203a03a3857.jpg" -->
<po-widget
  class="po-mt-2"
  p-height="200"
  p-primary="true"
  [p-primary-label]="finish"
  p-secondary-label="Visualizar"
  [p-title]="task.taskCreated"
  (p-primary-action)="finishTask(task)"
  (p-secondary-action)="viewTask(task)">

  <div class="po-font-subtitle po-text-center">{{ task.name }}</div>
  <div class="po-text-center">Data estimada de entrega: {{ task.deliveryEstimated | date : 'dd/MM/yyyy' }}</div>
</po-widget>

<po-modal #detailsTaskModal
p-title="Detalhes da Tarefa"
[p-primary-action]="close">
    <div class="po-row po-mb-4">
      <po-divider class="po-md-12" p-label="Status"></po-divider>

      <po-tag
        class="po-md-4"
        p-icon
        p-label="Etapa"
        [p-type]="statusType"
        [p-value]="statusValue">
      </po-tag>

      <po-info
        class="po-md-4"
        p-label="Prazo"
        [p-value]="deadline">
      </po-info>
    </div>

    <div class="po-row po-mb-4">
      <po-divider class="po-md-12" p-label="Informações da tarefa"></po-divider>

      <po-info
        class="po-md-8 po-mb-md-2"
        p-label="Name"
        [p-value]="name">
      </po-info>


      <po-info
        class="po-md-4"
        p-label="Categoria"
        [p-value]="category">
      </po-info>

      <po-info
        class="po-md-4 po-mb-md-2"
        p-label="Data comprometida"
        [p-value]="delivery">
      </po-info>

      <po-info
        class="po-md-4 po-mb-md-2"
        p-label="Data finalização"
        [p-value]="taskFinish">
      </po-info>

      <po-info
        class="po-md-4 po-mb-md-2"
        p-label="Data de criação"
        [p-value]="created">
      </po-info>


      <po-info
        class="po-md-12 po-mb-md-2"
        p-label="Descrição"
        [p-value]="description">
      </po-info>
    </div>
</po-modal>

<po-modal #finishTaskModal [p-title]="titleFinishTask">
  <h1>richard</h1>
</po-modal>
